.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 10%;
    margin-right: 10%;
}

.item{
    width: 310px;
    padding-bottom: 4%;
}

.item h3{
    margin-bottom: 5%;
}

.item p{
    margin-bottom: 5%;
    font-size: 15px;
}